.main-container {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 24px;
    min-width: 550px;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.not-found-container {
    text-align: center;
    font-size: larger;
    font-weight: 400;
}